<div class="container">
    <div class="subscriberDetailWrap">
        <div class="img-logo-details">
            <img src="assets/img/Capture.PNG" alt="" class="">
        </div>
        <h4>SUBSCRIBER DASHBOARD</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="sub_outer form-style">                    
                    <div class="st_info">                        
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Student Name</th>
                                            <th>Email</th>
                                            <th>Student ID</th>
                                            <th>View Deatails</th>
                                            <th>Pay</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Jhon</td>
                                            <td>abcd@gmail.com</td>
                                            <td>123456</td>
                                            <td><a>View</a></td>
                                            <td><a>Pay</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Doe</td>
                                            <td>sdfsfd@gmail.com</td>
                                            <td>098876</td>
                                            <td><a>View</a></td>
                                            <td><a>Pay</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Kumar</td>
                                            <td>ram@gmail.com</td>
                                            <td>676778</td>
                                            <td><a>View</a></td>
                                            <td><a>Pay</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Mahi</td>
                                            <td>mahid@gmail.com</td>
                                            <td>567432</td>
                                            <td><a>View</a></td>
                                            <td><a>Pay</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Prakash</td>
                                            <td>prashaks@gmail.com</td>
                                            <td>834687</td>
                                            <td><a>View</a></td>
                                            <td><a>Pay</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Guru</td>
                                            <td>abcd@gmail.com</td>
                                            <td>789910</td>
                                            <td><a>View</a></td>
                                            <td><a>Pay</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                               
                        </div>                        
                        
                    </div>
                    <div class="st_infoTabel">
        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



